* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center; 
    padding: 10px;
}

.logo-header i {
    color: rgb(65, 149, 252);
    font-size: 30px;
}

header .text-start {
    color: rgb(71, 71, 71);
    font-size: 10px;
    margin: 0;
    font-weight: bold;
    margin-right: 200px;
}

menu .text-center {
    color: rgb(71, 71, 71);
    font-size: 25px;
    margin-left: 500px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    max-width: 900px;
    margin: 80px auto;
    padding: 10px; 
}

.block {
    background-color: #fff;
    padding: 15px;
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px; 
}

.block i {
    color: rgb(65, 149, 252);
    font-size: 65px;
    padding: 5px;
}

h2 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3vh;
    font-size: 11px;
}

footer a {
    color: rgb(129, 178, 215);
}

@media (max-width: 768px) {
    .block {
        flex: 1 1 100%;
    }
    header .text-start {
        font-size: 5px;
    }
    header .text-center {
        font-size: 15px;
    }
    footer {
        font-size: 10px;
    }
}